html { font: 16px Helvetica, Arial; }

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background-color: #E5DDD5;
}

.variables{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background: #045F50;
    padding: 10px;
}
.variables div{
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
}

.var-local{
    background: lightcoral;
    color: #fff;
    padding: 10px;
    border-radius: 10px 0 0 10px ;
    font-weight: 700;
}

.var-remote{
    background: cornflowerblue;
    color: #fff;
    padding: 10px;
    border-radius: 10px 0 0 10px ;
    font-weight: 700;
}

.value{
    padding: 10px;
}

#chat-form {
	display: flex;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 5px;
    height: 50px;
	font-size: 18px;
}

#message-text{
	flex-basis: calc(80% - 2.5px);
	border: none;
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 3px #888888;
	-moz-box-shadow: 0px 0px 3px #888888;
	box-shadow: 0px 0px 3px #888888;
    font-size: 18px;
    text-indent: 10px;
}

#chat-form button {
	color: white;
	font-size: 18px;
	flex-basis: calc(20% - 5px);
	margin-left: 5px;
	background-color: #045F50;
	border: none;
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 3px #888888;
	-moz-box-shadow: 0px 0px 3px #888888;
	box-shadow: 0px 0px 3px #888888;
}

#message-text {
	padding: .5rem;
	width: 80%;
}

#chat {
    display: flex;
    flex-direction: column;
    list-style-type: none;
	background-color: #E5DDD5;
    padding: 10px;
    overflow-y: scroll;
    margin-bottom: 40px;

}

#chat li{
    display: flex;
    border-radius: 10px;
    margin-bottom: 10px;

}

#chat .remote{
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 1px #888888;
    -moz-box-shadow: 0px 0px 1px #888888;
    box-shadow: 0px 0px 1px #888888;

}
#chat .local{
    background-color: #DEFFC6;
    -webkit-box-shadow: 0px 0px 1px #888888;
    -moz-box-shadow: 0px 0px 1px #888888;
    box-shadow: 0px 0px 1px #888888;
}

#chat .remote .author{
    background: cornflowerblue;
    color: white;
    padding: 10px;
    border-radius: 10px 0 0 10px ;
    font-weight: 700;
}

#chat .local .author{
    background: lightcoral;
    color: white;
    padding: 10px;
    border-radius: 10px 0 0 10px ;
    font-weight: 700;
}
#chat li .message{
    padding: 10px;
}

#chat .avisos{
    margin:  0 auto;
    margin-bottom: 5px;
    font-size: 14px;
    color: #888888;
}